@media only screen and (max-width: 300px){
  h1 {
    margin: 0;
    font-size: 2rem;
  }

  #gameBoard {
    height: 200px;
    width: 300px;
  }

  .cell {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }

  .beforeTable {
    height: 240px;
    width: 300px;
  }

  .displayArea {
    height: 50px;
    width: 200px;
    font-size: 2rem;
  }

  .reset {
    font-size: 1.5rem;
  }
}

@media (min-width: 301px) and (max-width: 500px){
    h1 {
    margin: 0;
    font-size: 2rem;
  }

  #gameBoard {
    height: 200px;
    width: 300px;
  }

  .cell {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }

  .beforeTable {
    height: 240px;
    width: 300px;
  }

  .displayArea {
    height: 50px;
    width: 200px;
    font-size: 2rem;
  }

  .reset {
    font-size: 1.5rem;
  }
}

@media (min-width: 501px) and (max-width: 700px){
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  #gameBoard {
    height: 300px;
    width: 350px;
  }

  .cell {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }

  .beforeTable {
    height: 300px;
    width: 350px;
  }

  .displayArea {
    height: 50px;
    width: 200px;
    font-size: 2rem;
  }

  .reset {
    font-size: 2rem;
  }
}

@media (min-width: 701px) and (max-width: 900px){
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  #gameBoard {
    height: 350px;
    width: 400px;
  }

  .cell {
    width: 70px;
    height: 70px;
    font-size: 3rem;
  }

  .beforeTable {
    height: 350px;
    width: 400px;
  }

  .displayArea {
    height: 50px;
    width: 200px;
    font-size: 2rem;
  }

  .reset {
    font-size: 2rem;
  }
}
