*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.clearfix:after {
       content: ".";
       /* display: block; */
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
}
  
/***************************************
LAYOUT
*****************************************/
  
.main{
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
header{
    width: 450px;
    text-align: center;
}
h1{
    font-size: 6rem;
    margin:30px 0 0 0;
    color: rgb(0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.2);
    transition: .4s;
}

h1:hover {
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    transition: .4s;
    transform: translate( -10px, -10px);
}

h4 {
    font-size: 1.5rem;
    margin: 0;
    color: rgb(0, 0, 0);
    text-shadow: rgba(0, 0, 0, 0.2);
    transition: .4s;
    transform: translate( 0px, 0px)
}

h4:hover{
    color: rgb(0, 0, 0);
    text-shadow: 8px 8px rgba(0, 0, 0, 0.2);
    transition: .4s;
    transform: translate( -8px, -8px);
}

button{
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    font-size: 1.2em;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 25px;
    margin-top: 10px;
    transition: .3s;
}

button:hover{
    font-size: 1.25em;
    transition: .3s;
    border-radius: 20px;
    background-color: rgb(62, 117, 163);
}
  
.container{
    height:450px;
    width:450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid fractional unit; ratio of 3 columns is 1:1:1 */
    font-size: 4em;
    text-align: center;
    background-color: white;
}
  
.box {
    height:150px;
    width:150px;
    transition: .4s;
    padding-top: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px rgba(0, 0, 0, 0.2);
    transform: translate( 0px, 0px);
}
  
.box:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: .4s;
    transform: translate( -7px, -7px);
    text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
  
.Hor{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
  
.Mid{
    border-left: 3px solid black;
    border-right: 3px solid black;
}
/***************************************
  
*****************************************/
  
.winnerMessage{
    height: 25px;
    font-size: 4em;
}
  
#result{
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    color: rgb(85,149,176);
}
  
/***************************************
MEDIA QUERIES - IF needed 
*****************************************/
  
/* tablet */
 @media (min-width: 768px) and (max-width: 1023px){
  
}
  
/* mobile */
 @media screen and (max-width: 767px){
  
}
  