/******************************************
/* CSS
/*******************************************/
*{
  box-sizing: border-box;
}

/* body {
can add your own font   
} */
.bigBox:hover{
  width: 25%;
  height: 650px;
  border: 3px solid;
  margin: 20px auto;
  border-radius: 15px;
  background-color: rgba(127, 255, 212, 0);
  color: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.458);
  transition: 1s;
}

body{
  background-image: url("wait.webp");
  background-position: center;
  font-family: "mukta", Arial, Helvetica, sans-serif;


}
header{
  border: 2px solid;
  width: 300px;
  margin: 30px auto 0px auto;
  box-shadow: 2px 2px 2px 2px gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(72, 72, 72, 0.897);
  color: black;
  
}
span, p{
  color: rgb(255, 255, 255);
  font-size: .8em;
  font-family: "Press Start 2P", "mukta", Arial, Helvetica, sans-serif;
}
h1{
  font-size: 3em;
  color: black;
  margin: 0px auto;
}
#clear{
  background-color: rgba(206, 190, 140, 0.961);
  width: 200px;
  height: 50px;
  font-size: 1.3em;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.133);
  border: 2px solid rgba(0, 0, 0, 0.133);
}

#clear:hover{
  color: black;

}
.box{
  width: 100px;
  height: 100px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.535);
  border: 2px solid black;
  cursor: pointer;
  line-height: 100px;
  font-size: 70px;
  font-weight: bold;
  background-color: rgba(218, 218, 218, 0.343);
  color: black;
}


section{
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  width: 306px;
  margin: 0px auto;
}

span{
font-weight: bold;
display: block;
margin-top: 10px;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
