* {
  box-sizing: border-box;
}
body {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/619CL0kuptL._AC_SL1304_.jpg");
  background-size: cover;
}
h1{
  font-size: 45px;
   margin-left:38%;
   text-align:center;
   color:rgb(236, 70, 70);
  background-color:rgb(219,188,226);
  width:25%;
  height:15%;
}
.gameResult {
  display: block;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:rgb(236, 70, 70);
  background-color:rgb(219,188,226);
  width:25%;
  margin-left:38%;
}
.gameBoard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 152px;
  margin: 0 auto 80px;
  border: 1px solid #000;
}
.gameSquare{
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  transition: all linear 0.3s;
}
.gameSquare {
 color:rgb(236, 70, 70);

  background-color:rgb(219,188,226);
}

#reset {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  background-color:rgb(219,188,226);
  padding: 10px 20px;
  cursor: pointer;
  color:rgb(236, 70, 70);
  font-size: 18px;
  transition: all linear 0.3s;


}
#reset:hover{
  background-color:pink;
}