body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column; /*to stack items vertically*/
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: pink;
    font-family: 'Roboto', sans-serif;

}

#board{
    width: 300px;
    height: 300px;
    background: black;
    display: flex;
    flex-wrap:wrap;
    border: solid 1px red;

}

.box{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circle{
    height: 90px;
    width:90px;
    box-sizing: border-box;
    background-image: url("../imgs/o.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.x{
    height: 90px;
    width:90px;
    box-sizing: border-box;
    background-image: url("../imgs/x.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#reset{
    margin-top: 1rem;
    background-color: white;
    font-size: 1rem;
}